@model AvioKompanija.Models.Let

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Let</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinacijaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinacijaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TerminalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerminalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KompanijaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KompanijaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumPolaska)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumPolaska)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojMjesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojMjesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojLeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojLeta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
