@model IEnumerable<AvioKompanija.Models.Let>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatumPolaska)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojMjesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojLeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kompanija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KrajnjaDestinacija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PocetnaDestinacija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Terminal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatumPolaska)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojMjesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojLeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kompanija.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KrajnjaDestinacija.Grad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PocetnaDestinacija.Grad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Terminal.Naziv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
