@model IEnumerable<AvioKompanija.Models.Kompanija>

@{
    ViewData["Title"] = "Index";
}
<style>
    h1 {
        background: rgb(232, 138, 22);
        color: #333;
        font-size: 2em;
        display: inline-block;
        padding: 10px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 50px 0 0 0;
    }

    h5 {
        text-align: center;
        background: #333;
        color: #fff;
        display: inline-block;
        padding: 10px;
        font-weight: 300;
        margin: 0;
    }
    .row {
        margin: 0;
    }
</style>



<div class="container">
    <div class="row" style="padding-bottom:50px;">
        <h1>Lista avio-kompanija koje nam nude svoje usluge.</h1>
        <h5>Lista avio-kompanija koje nam nude svoje usluge.</h5>
    </div>

    @foreach (var item in Model)
    {
        <div class="row container">
            <div class="col-sm-12" style="padding:20px 0;background: orange;">
                <div class="row">
                    <div class="col-md-3" style="background: red; padding: 0;">
                        <img class="img-thumbnail img-hover" style="width:100%;" src="@Html.DisplayFor(modelItem => item.Logo)" 
                             ="@Html.DisplayFor(modelItem => item.Naziv)" />
    
                    </div>
                    <div class="col-md-9" style="background: blue;">
                        <h4>Naziv avio-kompanije: @item.Naziv</h4>
                        <p>
                            Oznaka avio-kompanije: @item.Oznaka <br />
                            Sjedište avio-kompanije: @item.Sjediste<br />
                            Ocjena avio-kompanije: @item.Ocjena
                        </p>
                    </div>
                </div>
                <div class="row" style="border-bottom:solid 1px silver; background: green;">
                    <div class="col-6">

                    </div>
                    <div class="col-md-6">
                        <a asp-action="Edit" asp-route-id="@item.Id">Uredi informacije o kompaniji</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalji o kompaniji</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Izbriši kompaniju</a>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="" class="imagepreview" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
    <p>
        <a asp-action="Create">Dodajte  novu kompaniju</a>
    </p>
</div>