@model IEnumerable<AvioKompanija.Models.Kompanija>

@{
    ViewData["Title"] = "Index";
}

<h2 style="color:mediumblue; text-align:center; margin:30px;">Lista avio-kompanija koje nam nude svoje usluge.</h2>
<br />



@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-3">
            <img class="img-thumbnail img-hover" style="height:150px;width:200px;"  src="@Html.DisplayFor(modelItem => item.Logo)" alt ="@Html.DisplayFor(modelItem => item.Naziv)" />

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <h4>Naziv avio-kompanije: @item.Naziv</h4>
            <p>
                Oznaka avio-kompanije: @item.Oznaka <br />
                Sjedište avio-kompanije: @item.Sjediste<br />
                Ocjena avio-kompanije: @item.Ocjena
            </p>
          
        </div>
       
    </div>
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-md-6">
            <a asp-action="Edit" asp-route-id="@item.Id">Uredi informacije o kompaniji</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Detalji o kompaniji</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Izbriši kompaniju</a>

        </div>

    </div>
}
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>
<p>
    <a asp-action="Create">Dodajte  novu kompaniju</a>
</p>