@model IEnumerable<AvioKompanija.Models.Karta>

@{
    ViewData["Title"] = "Kupljene karte";
}

    <style>
        h1 {
            background: #fff;
            color: #333;
            font-size: 2em;
            display: inline-block;
            padding: 10px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 50px 0 0 0;
        }

        h5 {
            text-align: center;
            background: #333;
            color: #fff;
            display: inline-block;
            padding: 10px;
            font-weight: 300;
            margin: 0;
        }

        .table-bordered thead th {
            background: silver;
            border: 0;
        }
    </style>

    <body style="background-image:url('https://solomonstar.live/wp-content/uploads/2019/09/Airplane_Flight_Tickets_High-040919-WI-PT.jpeg')">
        <h1>Kupljene karte</h1><br />
        <h5>Kupljene karte</h5>
        <br /><br />
        <table class="table-hover table-bordered">
            <thead style="background-color: silver;">
                <tr>
                    <th>
                        <!--  @Html.DisplayNameFor(model => model.BrojSjedista)-->
                        Broj Sjedišta
                    </th>
                    <th>
                        <!--   @Html.DisplayNameFor(model => model.DatumProdaje)-->
                        Datum Prodaje
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cijena)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Popust)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Storn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Let)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Putnik)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sluzbenik)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="background-color:white;">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BrojSjedista)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatumProdaje)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cijena)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Popust)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Storn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Let.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Putnik.BrojPasosa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sluzbenik.Ime)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Izmjeni</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p>
            <a asp-action="Create">Kupi novu kartu</a>
        </p>
    </body>