@model IEnumerable<AvioKompanija.Models.Karta>

@{
    ViewData["Title"] = "Kupljene karte";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Kupi novu kartu</a>
</p>
<table class="table.hover ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrojSjedista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumProdaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Popust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Storn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Let)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Putnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sluzbenik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrojSjedista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumProdaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Popust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Let.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Putnik.BrojPasosa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sluzbenik.Ime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
